In [ ]:
print ( 2 + 2)

4

In [ ]:
# Operations 2 or 4
# operand here number is 
# operator


print (2 + 4) # addition
print (5/2) # float
print (5**2) # power
print (5//2) # floor division
print ( 5 % 2) # modulus or reminder

6
2.5
25
2
1

In [ ]:
# Equal Operator ( assigned any value to variable (place holder) 
# VARIABLE NAME = VALUE
SCHOOL = 'PIAIC'
BATCH = '36/37 '
TEACHER = 'MR.QASIM'
TIMING = '9 AM TO 12 PM'


print (SCHOOL)
print (BATCH)
print (TEACHER)
print ( TIMING)

PIAIC
36/37
MR.QASIM
9 AM TO 12 PM

In [ ]:
# use predefine functions
# type()
# id() 
# len()

name = 'ALI ISMAIL'
print (type(name)) # data type
print (id(name)) # memory address
print (len(name)) # length (count number of character)

<class 'str'>
140138034873072
10

In [ ]:
# deep copy and shallow copy 
# a = 5
# b = 5

a = 'Pakistan'
b = 'Pakistan'

print(id(a))
print (id(b))

In [ ]:
# click means event , in fb , all page format is remain same of all only change is we call it value.
# note 'print ' it is a pre defined function

In [1]:
# How to assign string values in string

name = 'Ali ismail'
print (name , type(name))

Ali ismail <class 'str'>

In [2]:
name = "Ali ismail"
print (name , type(name))

Ali ismail <class 'str'>

In [6]:
# we have to define space character
data = 'Ali\tIsmail\nHussain'
print(data)

Ali	Ismail
Hussain

In [11]:
# if use quote within strig  use back slash (\) need practice 
data = 'ali' 'Ismail\'sHussain'
print(data)

aliIsmail'sHussain

In [10]:
# multi line practice

data  =  '''  
             NAME              ALI
             FATHER NAME      ISMAIL 
             BATCH             36
             COURSE            AIC'''
print (data)

             NAME              ALI
             FATHER NAME      ISMAIL
             BATCH             36
             COURSE            AIC

In [12]:
# Jupyter cell always shows last line , outout is only c , w/o print command
'a'
'b'
'c'

'c'

In [13]:
'a'
'b'
print('c') # Jupyter cell always shows last line , outout is only c , with print command

c

In [14]:
# CONCATENATION (combining variables)

name = 'ALI'
father_name = 'Ismail Hussain'
batch = 36
course = 'AIC'
print (name , father_name , batch , course)

ALI Ismail Hussain 36 AIC

In [20]:
name = 'ALI' # for sep=\n , use , then sep'\n'
father_name = 'Ismail Hussain'
batch = 36
course = 'AIC'
print(name , father_name , batch , course, sep='\n')

ALI
Ismail Hussain
36
AIC

In [23]:
# Style 1 
name = 'ALI' 
father_name = 'Ismail Hussain'
batch = 36
course = 'AIC'

data =''' 
name = {} 
father_name = {}
batch = {}
course = {}
'''.format(name , father_name , batch , course)
print(data)

name = ALI
father_name = Ismail Hussain
batch = 36
course = AIC

In [26]:
# Style 2 # tuple use

name = 'ALI' 
father_name = 'Ismail Hussain'
batch = 36
course = 'AIC'

data =''' 
name = {0} 
father_name = {1}
batch = {2}
course = {3}
'''.format(name , father_name , batch , course)
print(data)

name = ALI
father_name = Ismail Hussain
batch = 36
course = AIC

In [29]:
# Style # 3 most common usand user friendly

name = 'ALI' 
father_name = 'Ismail Hussain'
batch = 36
course = 'AIC'

data = f''' 
name = {name} 
father_name = {father_name}
batch = {batch}
course = {course}
'''
print(data)

name = ALI
father_name = Ismail Hussain
batch = 36
course = AIC

In [30]:
abc = input("Enter any value: ") #always return text value
print(abc)

Enter any value: ali
ali

In [ ]:
I

In [34]:
name = input('Enter your Name :')
father_name = input('Enter your father name:')
batch = int(input('Enter yout Height:'))
course = input('Enter Course Name')

data = f''' 
name = {name} 
father_name = {father_name}
batch = {batch}
course = {course}
'''
print(data)

Enter your Name :ALI ISMAIL
Enter your father name:MUHAMAMD ISMAIL
Enter yout Height:75
Enter Course NameAIC

name = ALI ISMAIL
father_name = MUHAMAMD ISMAIL
batch = 75
course = AIC

In [35]:
name = 'ALI' # capatalize
name.capitalize()

'Ali'

In [37]:
name = 'ALI Ismail' # to make all in small letter
name.casefold()

'ali ismail'

In [38]:
name = 'ALI Ismail' # to make single line center
name.center(50)

'                    ALI Ismail                    '

In [39]:
name = 'ALI Ismail' # to make single line center
name.center(20)

'     ALI Ismail     '

In [40]:
name = 'ALI Ismail' # to make single line center , spacing increase , case become center
name.center(100)

'                                             ALI Ismail                                             '

In [45]:
name = 'ali Ismail Hussain , working at pakistan international airlines'
print(name.count('a'))

9

In [46]:
# UTF-8  ENCODE 
#UCS (Unicode) Transformation Format
#UTF stands for "UCS (Unicode) Transformation Format". The UTF-8 encoding can be used to represent any Unicode character. Depending on a Unicode character's numeric value, the corresponding UTF-8 character is a 1, 2, or 3 byte sequence.


name = 'ALI Ismail'
name.encode('utf-8')

b'ALI Ismail'

In [47]:
name = 'ALI Ismail'
name.endswith('ail')

True

In [51]:
name = 'Ali Ismail'
name.startswith('Ali')

True

In [ ]:
# expand tab  ?

In [52]:
name = 'Ali Ismail Hussain'
print(name.find('ma'))

6

In [53]:
name = 'Ali Ismail Hussain'
print(name.find('hu')) # it measn this value not found

-1

In [54]:
name = 'Ali Ismail Hussain'
print(name.find('Hu'))

11

In [57]:
name = 'Ali Ismail Hussain'
print(name.find('a'))
print(name.find('a', 8)) # this represt now find after 7 , just like Next function

7
15

In [58]:
name = 'Pakistan Zindabad'
print(name.find('a'))

1

In [ ]:
#format map resemble fetching values from dictionery and replacing

In [60]:
name = 'Pakistan Zindabad'
name.index('Z')

9

In [61]:
#Alphanumeric function
name = 'alicapri02'
name.isalnum()

True

In [62]:
name = 'alicapri02' #b/c it is alpha numneric
name.isalpha()

False

In [63]:
name = 'alicapri' 
name.isalpha()

True

In [64]:
name = 'اُردُو' # it is means it is this language word is not allowed
name.isascii()

False

In [71]:
name = 'nananna+' # it is means it is this language word is not allowed
name.isascii()

True

In [65]:
name = '25' # decimal & digit difference
name.isdecimal()

True

In [67]:
name = '       ali' # it has removed spacing 
name.strip()

'ali'

In [68]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']